*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url(img/fundo.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 80%;
    height: auto;
    background-color: rgba(165, 42, 42, 0.579);
    border: 2px solid black;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); */
    gap: 8px;
    padding: 1rem;
}

.flipped{
    width: 150px;
    height: 200px;
    background-color: blue;
    background-image: url(img/verso.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid black;
    border-radius: 10px;
}

.flipped:hover{
    background-color: rgba(173, 216, 230, 0.627);
    cursor: pointer;
}

.card{
    width: 150px;
    height: 200px;
    background-color: rgba(245, 222, 94, 0.704);   
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover{
    background-color: rgba(228, 230, 173, 0.72);
    cursor: pointer;
}

.card img{
    width: 100px;
    height: auto;
    background-size: cover;
    background-position: center;
}